#!python -m pip install -r

ttkwidgets[gui]
setuptools[build]
rich
pyinstaller[build]
pygubu[gui]
pygubu-designer[gui]
pycaw
click
auto-py-to-exe[build]
# matplotlib[gui]
# cx_Freeze[build]
# ttkbootstrap[gui]
tksvg[gui]
